*{
    font-family: 'Roboto',sans-serif, arial;
    margin:0;
    padding: 0;
}

/* header */
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    padding: 30px 55px;
    justify-content: space-between;
}

.header div{
    font-size: 24px;
    font-weight: bold;
}


/*div-one*/

.div-one{
    display: flex;
    justify-content: space-between;
    background-color:#1f2937;
    color: #f9faf8;
    gap: 40px;
    padding: 100px 55px;
}

.d1-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 201px;
    background-color: rgb(167, 167, 167);
    flex-shrink: 0;
}

.d1-text-side h3{
    font-size: 48px;
    font-weight: 900;
    display: flex;
}

.d1-text-side p{
    margin-bottom: 14px;
    color: #e5e7eb;
    font-size: 18px;
}

.d1-text-side button{
    background-color: #3882f6;
    padding: 8px 26px;
    border:none;
    border-radius: 4px;
    color:#f9faf8;
    font-weight: bold;
}

.d1-text-side{
    width: 500px;
}


/*div-two*/

.div-two{
    padding: 100px 55px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.div-two h3{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1f2937;
    text-align: center;
    margin-top: -50px;
}

.d2-box-flex{
    display:flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
}

.d2-box-flex div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d2-box-flex div div{
    height: 100px;
    width: 100px;
    border:#3882f6 solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.d2-box-flex div p{
    font-weight: 300;
    font-size: 14px;
}