*{
    font-family: 'Roboto',sans-serif, arial;
    margin:0;
    padding: 0;
}

ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    padding: 30px 55px;
    justify-content: space-between;
}

.header div{
    font-size: 24px;
    font-weight: bold;
}